<div id="search">
  <h1>Preview<strong>FM</strong></h1>
  <p class="tagline">Discover new albums, quickly.</p>

  <form action="/previews/search" method="POST">
    <input type="text" placeholder="Album Title" name="query" id="query" />
    <input type="submit" id="submit" value="Search" />
  </form>
</div>
